<div class="container todoDetail">
    <form >
    <div class="row">
        <input type="text"  ng-show="detailCtrl.isNew" class="form-control input-lg text-center "
            name="" placeholder="New Todo Element"
            ng-model="detailCtrl.todo.title">
        <h3 ng-hide="detailCtrl.isNew" class="header text-center text-muted">{{detailCtrl.todo.title}}</h3>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group form-inline">
                <label class="form-control-label" for="todoCategory">Category: </label>
                <input ng-disabled="detailCtrl.disabled" type="text" class="form-control" 
                    id="todoCategory" placeholder="Category"
                    ng-model="detailCtrl.todo.category">
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group form-inline">
                <label class="form-control-label" for="todoUrgency">Urgency: </label>
             
                <select ng-disabled="detailCtrl.disabled" class="form-control" id="sel2"
                       placeholder="Urgency" ng-model="detailCtrl.todo.urgency">
                    <option vaule="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
            </select>
            </div>
        </div>
        <div class="col-xs-4 ">
            <div class="form-group form-inline">
                <label class="form-control-label" for="todoDueDate">Due Date: </label>
                <input ng-disabled="detailCtrl.disabled" type="date" class="form-control"
                     id="todoDueDate" placeholder="DueDate"
                     ng-model="detailCtrl.todo.dueDate">{{detailCtrl.todo.dueDate}}
                    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <textarea rows="5"  ng-disabled="detailCtrl.disabled" type="text" class="form-control"
                 id="exampleInputEmail1" placeholder="Description"
                 ng-model="detailCtrl.todo.description">{{detailCtrl.todo.description}}</textarea>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
        <button ng-click="detailCtrl.isEditable()" class="btn btn-lg btn-warning"><i class="glyphicon glyphicon-pencil"></i>  {{detailCtrl.btnEdit}}</button>
        <a ng-href="#/toDoList" class="btn btn-info btn-lg"><i class="glyphicon glyphicon-remove"></i>  {{detailCtrl.btnCancel}}</a>
        </div>
    </div>
  </form>
</div>